* {
    font-family: "Gill Sans";
    padding : 0px;
    margin: 0px;
    box-sizing: border-box;
  }

  .MuiTypography-root {
    font-family: "Gill Sans" !important;
  }
  .MuiButton-root {
    text-transform: none !important;
    }
    .MuiInputBase-root {
      width: 200px;
    }
  