.listing-area-root {
    display: flex;
    flex-direction: column;
    gap:40px;
}

.listing-area-laoding {
    width: 100vw;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
}

.listing-area-card-content {

}
