.listing-area-root {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.listing-area-laoding {
    width: 100vw;
    height: 20%;
    display: flex;
    justify-content: center;
    padding: 40px;
}

.listing-area-card-content {

}

.listing-area-card-content:nth-child() {
    padding-left: 10px;
    padding-right: 10px;
}